@import './sidebar.scss';

html {
  body {
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    #app {
      width: 100%;
      height: 100vh;
    }
  }

  div,
  span {
    box-sizing: border-box;
  }

  a:focus, a:active {
    outline: none;
  }

  a, a:focus, a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
  }
}
